{% css %}
    .page-footer__signature {
    width: 80px;
    height: 20px;
    background: url("../images/logo-dynamate.svg") no-repeat top left;
    background-size: 77px 20px;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    text-indent: -9999px;
    opacity: 0.6;
    transition-duration: 0.5s;
    display: block;
    outline: 0;
    z-index: 100;
    }

    .page-footer__signature:hover,
    .page-footer__signature:focus {
    opacity: 1;
    }

    @media (min-width: 768px) {
    .page-footer__signature {
        float: right;
        width: 16px;
    }

    .page-footer__signature:hover,
    .page-footer__signature:focus {
        width: 80px;
    }
{% endcss %}


<a class="page-footer__signature" 
    title="Highly technical and tasteful websites, webshops, web applications and online marketing, tailored to your story."
    href="https://www.dynamate.be/" 
    target="_blank"
    rel="noopener"
>
    <span class="vh">Site by Dynamate</span>
</a>{% include '_dynamate-signature/images/logo-dynamate.svg' %}
